<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DogList</ion-title>
    <ion-buttons *ngIf="selected.length" slot="end">
      <ion-button (click)="deleteDog()">
        <ion-icon icon="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Nouvelle syntaxe des for -->
  @for (item of dogs; track item.id) {
    <app-dog-card [isSelected]="selected.includes(item)" (click)="select(item)" [dog]="item"></app-dog-card>
  }

  <!-- Syntaxe historique. Y en a pas une mieux que l'autre, question de préférence -->
  <!-- <app-dog-card [dog]="item" *ngFor="let item of dogs"></app-dog-card> -->


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon icon="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Dog</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-dog-form [toEdit]="addDog" (apply)="postDog(); modal.dismiss()"></app-dog-form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>