<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FirstDog</ion-title>
    
    <ion-buttons slot="end">
      <ion-button *ngIf="!showForm" (click)="showForm = true">
        <ion-icon icon="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showForm" (click)="showForm = false">
        Cancel
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-dog-form [toEdit]="dog" *ngIf="showForm"></app-dog-form>
  
  <app-dog-card [dog]="dog" *ngIf="!showForm"></app-dog-card>
</ion-content>
